//In header of popups: make the top-right 'X' larger and better clickable
.easyclose{
    &.modal-dialog div.modal-content>div.modal-header>button.close {
        padding: 10px 10px 15px 15px;
        position: absolute;
        top: 3px;
        right: 0;
        font-size: x-large;
        color: $brand-danger;
        background-color: mix($brand-primary, white, 15%);
        border-radius: 30% 10% 30% 80%;
    }
}